<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Tarea</title>
</head>
<body>
    <h2>¿Seguro que desea eliminar esta tarea?</h2>
<!--Aqui se muestra que es lo que se va a eliminar-->
<p><strong>{{ object.title }}</strong></p>

<form method="POST">
    {% csrf_token %}
    <button type="submit" style="background-color: red; color: white;">Eliminar</button>
    <a href="{% url 'tasks_index' %}">Cancelar</a>
</form>

</body>
</html>