<!--
###########################################################
## Archivo: task_form.html
## Descripción: Template que muestra el formulario para editar una tarea.
##              Incluye protección CSRF y enlace de regreso al listado.
## Fecha de creación: 2025/Noviembre/11
## Autor: GH (Gustavo Hernández)
## Fecha de última modificación: 2025/Noviembre/12
## Autor última modificación: GH
## Comentarios de última modificación: Se agregaron comentarios descriptivos 
##              y se mejoró la estructura conforme a la guía de legibilidad.
###########################################################
-->


{% extends "tasks/base.html" %}

{% block title %}Editar Tareas{% endblock %}

{% block content %}

    <div class="form-card">
        <h1>Editar Tarea</h1>

        <!-- Formulario para editar una tarea existente -->
        <form method="post">
            <!-- Token CSRF obligatorio en formularios Django -->
            {% csrf_token %}
            
            <!-- Renderiza los campos del formulario -->
            {{ form.as_p }}

            <!-- Botón para guardar los cambios -->
            <button type="submit" class="btn btn-save">
                <i class="fa-solid fa-arrow-up-from-bracket"></i> Guardar Cambios
            </button>
        </form>

        <br/>

        <!-- Enlace para regresar al listado de tareas -->
        <a href="{% url 'task-list' %}" class="btn btn-back">
            <i class="fa-solid fa-up-right-from-square"></i> Regresar
        </a>
    </div>
{% endblock %}
