<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista</title>
</head>
<body>
  <h1>
    Lista que debe ir 
  </h1>
<ul>
 <!-- Se hace una iteracion sobre el object_ lista -->
    {% for object in object_list %} 
    <!-- Objetos que se mostraran-->
    <li>{{ object.titulo }}</li> 
  
    <hr/> 
    <!-- Si no hay nada que mostrar, se muestra un mensaje -->
    {% empty %} 
    <li>No se encontro registros en la lista</li> 
    {% endfor %} 
 
</ul>
    
</body>
</html>